body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-main {
  background-color: #3f3f3f;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 40px;
}
