@import url("https://fonts.googleapis.com/css2? family= Electrolize & display=swap");
* {
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Electrolize", sans-serif;
}

.navbar {
  background-color: black;
  height: 60;
  color: white;
  position: sticky;
  top: 0;
}
.logo {
  font-size: 30px;
  color: rgb(255, 70, 70);
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}
.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
}
.menu-list-item {
  cursor: pointer;
}
.menu-list-item:hover {
  font-weight: bold;
}
.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1;
}
.toggle {
  width: 40px;
  background-color: white;
  height: 20px;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.toggle-icon {
  color: goldenrod;
}
.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
}
.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 40px;
  position: fixed;
  top: 0;
}
.sidebar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.content-weapper {
  margin-right: 20px;
}

.featured-content {
  background: url(anasayfa.fotograf/diziler/harry-potter-it-all-ends-18u1rkvpzotfmi49.jpg);
}
