@import url("https://fonts.googleapis.com/css2? family= Electrolize & display=swap");
* {
  margin: 0;
  overflow-inline: hidden;
}

body {
  font-family: "Electrolize", sans-serif;
  background-color: black;
}
h1,h2,h3,h4,h5,h6{
  color: white;
}
.container {
  color: white;
}

.navbar {
  background-color: black;
  height: 50px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo {
  font-size: 30px;
  color: rgb(255, 70, 70);
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}
.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
  padding: 0;
}
.menu-list-item {
  cursor: pointer;
}
.menu-list-item:hover {
  font-weight: bold;
}
.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1;
}
.toggle {
  width: 40px;
  background-color: white;
  height: 20px;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.toggle-icon {
  color: goldenrod;
}
.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
  transition: 0.5s ease all;
}
.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 40px;
  position: fixed;
  top: 0;
}
.sidebar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.content-weapper {
  margin-left: 100px;
}
.featured-body{
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 30px 0 0 80px;

}
.featured-content {
 width: 100vh;
 height: 100vh;
 display: inline;
}
.featured-title{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.featured-desc {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px 0px;
  margin: 10px 0px;
  color: black;
}

.featured-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.featured-buttons button {
  padding: 10px 25px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.featured-buttons .info-button {
  background-color: rgb(145, 142, 142, 0.5);
  color: white;
}

.movie-list-filter {
  margin: 20px 0 20px 50px;
  padding: 20px;
}

.movie-list-filter select {
  background-color: black;
  color: white;
  padding: 8px 0;
  width: 125px;
}

.movie-list-container {
  margin-left: 70px;
}

.movie-list {
  list-style: none;
  padding: 0;
  height: 300px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  transform: translateX(0);
  transition: 0.2s all ease ease-in-out;
}

.movie-item {
  position: relative;
}
.movie-list-wrapper {
  overflow: hidden;
  position: relative;
}

.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons {
  opacity: 1;
}

.movie-item:hover .movie-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-item-img {
  width: 130px;
  height: 200px;
  object-fit: cover;
  transition: 0.2s all ease-in-out;
}
.movie-item-title {
  /* background-color: rgb(40, 40, 40, 0.4); */
  background-color: white;
  padding: 0 6px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-item-buttons {
  /* background-color: rgb(40, 40, 40, 0.4); */
  background-color: white;
  padding: 0 20px;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  bottom: 6%;
  display: flex;
  column-gap: 11px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-item-buttons i {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s all ease;
  color: black;
}

.movie-item-buttons i:hover {
  opacity: 1;
  color: black;
}

.arrow {
  width: 100px;
  display: flex;
  font-size: 110px;
  position: absolute;
  right: 0;
  top: 0;
  top: 100px;
  opacity: 0.5;
  transition: 0.5s ease all;
  cursor: pointer;
}

.arrow :hover {
  opacity: 1;
}

.container.active {
  background-color: white;
}
.navbar.active {
  background-color: white;
  color: black;
}

.sidebar.active {
  background-color: white;
  color: black;
}

.sidebar i.active {
  color: black;
}

.movie-list-title.active {
  color: black;
}

.toggle.active {
  background-color: black;
}
.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}
.movie-list-filter select.active {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 800px) {
  .menu-container {
    display: none;
  }
}
.featured-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  max-width: 600px;
  padding: 0;
}
